common --announce_rc
common --enable_platform_specific_config

# To fix protobuf & grpc build errors on mac
build:macos --copt="-mmacosx-version-min=10.13"
build:macos --linkopt="-mmacosx-version-min=10.13"
build:macos --features=-module_maps

build --nobuild_runfile_links
build --nobuild_tests_only

test --test_output=errors
test --verbose_failures

# Migration flags
build --incompatible_autoload_externally=py_test # Should be set to empty string. Waiting for googleapis
